@model ICollection<TiemKiet.ViewModel.ProductInfoVM>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">@ViewData["Title"]</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">@ViewData["Title"]</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <a href="#" class="btn btn-outline-primary me-2">
                                    <i class="fas fa-download"></i> Download
                                </a>
                                <a class="btn btn-primary" asp-controller="Product" asp-action="Create" asp-area="Admin">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped" style="width:100%">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Giảm giá</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Chi Nhánh</th>
                                    <th>Trạng thái</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row">
                                        <td>
                                            @item.ProductId
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="@item.ProductImage" alt="User Image"></a>
                                                <a href="#">@(String.IsNullOrEmpty(item.ProductName) ? "" : item.ProductName)</a>
                                            </h2>
                                        </td>
                                        <td>
                                            @item.ProductPrice
                                        </td>
                                        <td>
                                            @item.ProductSale
                                        </td>
                                        <td>
                                            @item.ProductType.ToString()
                                        </td>
                                        <td>
                                            @item.BranchName
                                        </td>
                                        <td><span class="badge bg-primary-light">Đang hoạt động</span></td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm bg-success-light me-2">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                                <a asp-action="Edit" asp-route-Id="@item.ProductId" class="btn btn-sm bg-danger-light">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

