@using TiemKiet.Helpers;
@using TiemKiet.Models.ViewModel;
@model ObjectWithUser<TransactionLogVM>

@{
    ViewData["Title"] = "Quản lý thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main">
    <section id="header-title">
        <div class="container-fluid page-header text-center" style="padding: 10rem 0;">
            <div class="container py-5" data-aos="fade-up"
                 data-aos-duration="3000">
                <h1 class="display-3 text-white mb-3">Thông tin tài khoản</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Người dùng</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Thông tin tài khoản</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <section id="profile" class="section profile">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                        <div class="user-info-card my-3 text-primary" style="@CallBack.GetBackGroundRank(Model!.User.Point!.Value);">
                            <div class="user-info-card-header ">
                                <span>@Model.User.FullName</span>
                                <p>@Model.User.Point Điểm - <span class="fw-bold">hạng @Model.User.RankName</span></p>
                            </div>
                            <div class="user-card-barcode d-flex flex-column align-items-center">
                                <img src="@Url.Action("GenerateBarcode", "Account", new { barcodeData = Model.User.UserId.ToString() })" , new { code=Model.UserId }))" alt="">
                                <p class="mb-0">@Model.User.UserId</p>
                            </div>
                            <div class="user-info-detail">
                                <div class="progress">
                                    <div class="progress-bar @CallBack.GetClassProgress(Model.User.Score!.Value) progress-bar-striped" style="width:@(Model.User.Percent)%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <partial name="_NavMenuProfile" />
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="content container-fluid">

                        <!-- Page Header -->
                        <div class="content-page-header ">
                            <h5>Lịch sử giao dịch</h5>
                            <form class="my-5" asp-action="GetHistoryPayment" method="get">
                                <div class="form-group">
                                    <h6 class="form-control-label">Ngày giao dịch</h6>
                                    <div class="input-group date" id="input_day">
                                        <input type="text" placeholder="DD/MM/YYYY" class="form-control" name="date" required />
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </form>
                        </div>
                        <!-- /Page Header -->
                        <!-- Table -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class=" card-table">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped"
                                                  style="width:100%">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Mã giao dịch</th>
                                                        <th>Tổng hóa đơn</th>
                                                        <th>Giảm giá</th>
                                                        <th>Điểm cộng</th>
                                                        <th>Xu cộng</th>
                                                        <th>Ngày giao dịch</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach(var item in Model.ListValue)
                                                    {
                                                        <tr class="text-center">
                                                            <td>
                                                                @item.TransactionId
                                                            </td>
                                                            <td class="price">
                                                                @item.TotalPrice.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))
                                                            </td>
                                                            <td class="price">@item.DiscountPrice.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                                            <td class="price">
                                                                @((item.ScroreNew - item.ScroreOld).ToString("F2"))
                                                            </td>
                                                            <td class="price">@((item.PointNew - item.PointOld).ToString("F2"))</td>
                                                            <td>@item.DateTimePayment</td>
                                                        </tr>
                                                        <!-- END TR-->
                                                    }
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /Table -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>