@model ICollection<TiemKiet.ViewModel.VoucherUserInfoVM>
@{
    ViewData["Title"] = "Danh sách voucher người dùng";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">@ViewData["Title"]</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="py-3">
        <form asp-action="Index" method="get" class="row justify-content-start">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <select class="selectsearch" name="userId" asp-items="ViewBag.UserList">
                        <option value="">Chọn người dùng</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 align-content-end">
                <div class="search-student-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">@ViewData["Title"]</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <a href="#" class="btn btn-outline-primary me-2">
                                    <i class="fas fa-download"></i> Download
                                </a>
                                <a class="btn btn-primary" asp-controller="VoucherUser" asp-action="Create" asp-area="Admin">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped" style="width:100%">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Tên voucher</th>
                                    <th>Người sở hữu</th>
                                    <th>Loại voucher</th>
                                    <th>Giảm giá</th>
                                    <th>Giảm giá tối đa</th>
                                    <th>Tổng hóa đơn tối thiểu</th>
                                    <th>Ngày nhận voucher</th>
                                    <th>Ngày hết hạn</th>
                                    <th class="text-end">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row">
                                        <td>
                                            @item.VoucherUserId
                                        </td>
                                        <td>
                                            @(String.IsNullOrEmpty(item.Voucher.VoucherName) ? "" : item.Voucher.VoucherName)
                                        </td>
                                        <td>
                                            @(String.IsNullOrEmpty(item.UserClaim.FullName) ? "" : item.UserClaim.FullName)
                                        </td>
                                        <td>
                                            @item.Voucher.VoucherType.ToString()
                                        </td>
                                        <td>
                                            @item.Voucher.DiscountValue.ToString() <span>@(item.Voucher.DiscountType == 0 ? "%" : "VND")</span>
                                        </td>
                                        <td>
                                            @item.Voucher.MaxDiscountAmount
                                        </td>
                                        <td>
                                            @item.Voucher.MinBillAmount
                                        </td>
                                        <td>
                                            @item.RedeemedDate
                                        </td>
                                        <td>
                                            @item.ExpiryDate
                                        </td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a asp-action="Delete" asp-route-Id="@item.VoucherUserId" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

